
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen


/_dev/*
/_code/*
/output/
/output/*
/content/notebooks/.ipynb_checkpoints
/content/notebooks/.ipynb_checkpoints/*
/*.pyc
/*.pid
/cache/*


/pages_examples/
/client_secrets.p12
/content_hidden/
/content/images/headshot2.jpg
/content/images/headshot4.jpg
/content/images/headshot5.jpg
/content/extra/robots.txt
/content/notebooks/Indeed_Job_Scraper.ipynb

/content/2017/screenshot4.jpg
/content/2017/screenshot1.jpg
/content/2017/screenshot3.jpg
/content/2017/screenshot2.jpg
/content/notebooks/merlin.pem
/content/notebooks/host.fingerprint
/content/notebooks/host.key
