[submodule "void"]
    path = void
    url = git://github.com/andrewtcrooks/void.git
[submodule "pelican-plugins"]
    path = pelican-plugins
    url = git://github.com/andrewtcrooks/pelican-plugins.git
[submodule "pelican_dynamic"]
	path = pelican_dynamic
	url = https://github.com/wrobstory/pelican_dynamic.git
