
### Example user template template
### Example user template


# IntelliJ project files
.idea
*.iml
out
gen

/__pycache__/
/_dev/*
/_code/*
/output/
/output/*
/*.pyc
/*.pid
/cache/*

/client_secrets.p12
/content/extra/robots.txt

