
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen


/_dev/*
/_code/*
/output/
/output/*
/content/notebooks/.ipynb_checkpoints
/content/notebooks/.ipynb_checkpoints/*
/*.pyc
/*.pid
/cache/*


/pages_examples/
/client_secrets.p12
/content_hidden/
/content/images/headshot2.jpg
/content/images/headshot4.jpg
/content/images/headshot5.jpg
/content/extra/robots.txt
/content/notebooks/Indeed_Job_Scraper.ipynb

/content/2017/screenshot4.jpg
/content/2017/screenshot1.jpg
/content/2017/screenshot3.jpg
/content/2017/screenshot2.jpg
/content/notebooks/*.pem
/content/notebooks/host.*
!/content/notebooks/Jupyter_Setup.ipynb
/content/images/headshot.jpg
/content/notebooks/Untitled1.ipynb
/content/notebooks/Untitled4.ipynb
/content/notebooks/Untitled2.ipynb
/content/notebooks/Untitled3.ipynb
/content/notebooks/Untitled.ipynb
/content/notebooks/animals.tsv
!/content/notebooks/AWS_Jupyter_Notebook_Server.ipynb
